:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: auto;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 2em;
  line-height: 1.3;
}

.visualize {
  max-width: 840px;
  aspect-ratio: 1 / 0.6;
  margin: auto;
  position: relative;
}

.framework {
  max-width: 840px;
  margin: auto;
  padding: 2rem;
  position: relative;
}

.teaser {
  max-width: 840px;
  margin: auto;
}

#app {
  min-width: none;
  margin: 5% auto;
  padding: 2rem;
}

.video {
  max-width: 560px;
  height: 315px;
  margin: auto;
  display: flex;
}

.poster {
  max-width: 640px;
  aspect-ratio: 1.8;
  margin: auto;
  display: flex;
}

.abstract {
  max-width: 640px;
  margin: auto;
}

.bib {
  overflow-x: scroll;
  max-width: 840px;
  margin: auto;
}

.hspacer {
  display: inline-block;
  width: 10px;
}

.vspacer {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.mid {
  text-align: center;
}

#gui_container {
  position: absolute;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
